<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 자바스크립트 인라인 사용 전 -->
<script>
    var username = [[${user.username}]];
    var age = [[${user.age}]];
    //자바스크립트 내추럴 템플릿
    var username2 = /*[[${user.username}]]*/ "test username";
    //객체
    var user = [[${user}]];
</script>
<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript">
    var username = [[${user.username}]];
    var age = [[${user.age}]];

    //자바스크립트 내추럴 템플릿
    // ↓ "test username" 대신에 컨트롤러에서 넘어온 값이 username2에 할당됨!!
    var username2 = /*[[${user.username}]]*/ "test username";
    //객체
    var user = [[${user}]]; // 객체를 json으로 넣어줌!!
</script>

<!-- 자바스크립트 인라인 each -->
<script th:inline="javascript">
    [# th:each="user, stat : ${users}"]
    var user[[${stat.count}]] = [[${user}]];
    [/]

        /* 실행결과
        *   var user1 = {"username":"userA","age":10};
            var user2 = {"username":"userB","age":20};
            var user3 = {"username":"userC","age":30};
        * */
</script>

</body>
</html>
